package web

import "fmt"

templ ErrorPage(p Page, code int, message string) {
	@layout(p) {
		<div class="empty big">
			<h1>{ fmt.Sprintf("%d", code) }</h1>
			<p>{ message }</p>
			<p><a href={ Href(ctx, "/overview") }>Back to overview</a></p>
		</div>
	}
}
